{% extends 'crm/bpm_sample.html' %}
{% load staticfiles %}

{% block logo %}{# 自定义logo#}
    <link rel="icon" href="{% static '/images/king_logo.jpg' %}">{# icon，指的是图标 #}
{% endblock %}

{% block title %}KING ADMIN{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/king_admin_change.css' %}"/> {#编辑复选框样式#}
{% endblock %}

{% block head %}{#自定义内容开始 head#}
    KING ADMIN
{% endblock %}{#自定义内容结束 #}


{% block right-container %}
{% endblock %}



{% block js %}
    <script src="{% static 'js/king_admin_js.js' %}"></script>
    <script src="{% static 'js/king_admin_change.js' %}"></script>
{% endblock %}
