{#bpm_base.html#}
{## # ————————47PerfectCRM实现CRM客户报名流程————————#}
{% load staticfiles %}
{#模板文件 #}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
{#      <meta> 元素可提供有关页面的元信息（meta-information），比如针对搜索引擎和更新频度的描述和关键词。#}
{#      <meta> 标签位于文档的头部，不包含任何内容。<meta> 标签的属性定义了与文档相关联的名称/值对。#}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'images/bpm_logo.jpg' %}">{# icon，指的是图标 #}
        <title>业务流程</title> {# 页面头部显示#}
{#        使用link来调用外部的css文件#}
        <link rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}"  /> {#导航栏样式#}
        <link rel="stylesheet"  href="{% static 'css/dashboard.css' %}" /> {#指示板样式#}


    </head>
    <body>
        {% block body %}{#自定义内容 body#}{% endblock %}
{#        将纯JavaScript的语句另外保存在一个"*.js"的文件中，需要时再调用。#}
        <script src="{% static 'js/jquery.min.js' %}"></script>   {# jQuery 是一个 JavaScript库，极大地简化了 JavaScript 编程。#}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>  {#指示板JS事件#}

        {##————————51PerfectCRM实现CRM客户报名流程学生合同上传照片————————#}
        <script src="{% static 'js/jquery.cookie.js' %}"></script>  {#删除文件JS事件#}
        <script src="{% static 'js/dropzone.js' %}"></script>  {#上传文件的插件#}
        {##————————51PerfectCRM实现CRM客户报名流程学生合同上传照片————————#}

        {% block js %}{#自定义内容 JS#}{% endblock %}


    </body>
</html>
{## # ————————47PerfectCRM实现CRM客户报名流程————————#}

{#bpm_base.html#}