{#menu.html#}

 {## ————————71PerfectCRM实现CRM项目首页————————#}
{# 账号表  分配角色  夸表关联 角色表#}
{% for role in request.user.roles.all %} {# 循环开始  role#}
    <h3 class="label-danger ">{{ role.name }}的菜单</h3>
    {# 角色表  可视菜单  夸表关联  动态菜单#}
    {% for menu in role.menus.all %} {# 循环开始  menu#}
        <li>
            {#如果URL路径类型等于相对路径的URL      # URL +  URL路径 #} {# 否则         URL路径     #}
            <a href="{% if menu.url_type == 0 %}{% url menu.url_name %}{% else %} {{ menu.url_name }}{% endif %}">
                {{ menu.name }} {# 动态菜单  菜单名#}
            </a>
        </li>

        {% for menu in menu.sub_menus.all %}
            <li >
                <a href="{% if menu.url_type == 0 %}{% url menu.url_name %}{% else %} {{ menu.url_name }}{% endif %}">
                </a>
            </li>
        {% endfor %}
    {% endfor %}

{% endfor %}

{#menu.html#}