{#portal.html#}
{## ————————46PerfectCRM实现登陆后页面才能访问————————#}
{% extends 'king_admin/table_index.html' %}
{% block right-container %}
<div class="container col-lg-offset-3">
    <h2><a class="form-signin-heading" href="/king_admin/">King_admin主页</a> </h2>
    <h2><a class="form-signin-heading" href="/king_admin/crm/">单个具体app页面</a> </h2>
    <h2><a class="form-signin-heading" href="/king_admin/crm/userprofile/">详细内容</a> </h2>
    <h2><a class="form-signin-heading" href="/king_admin/crm/userprofile/1/change/">修改信息</a> </h2>
    <h2><a class="form-signin-heading" href="/king_admin/crm/userprofile/1/password/">修改密码</a> </h2>
    <h2><a class="form-signin-heading" href="/king_admin/crm/userprofile/add/">添加信息</a> </h2>
    <h2><a class="form-signin-heading" href="/king_admin/crm/userprofile/1/delete/">删除信息</a> </h2>
</div>

{% endblock %}

{## ————————46PerfectCRM实现登陆后页面才能访问————————#}

{#portal.html#}